.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: var(--white-color);

  .th-btn {
    padding: 15px 20px;
    border-radius: 0;
    font-size: 14px;
  }
}

.preloader-inner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}

/* loader css -------------*/
.loader {
  width: 40px;
  height: 26px;
  --c:no-repeat linear-gradient(var(--theme-color) 0 0);
  background:
    var(--c) 0    100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:8px calc(100% - 4px);
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--theme-color);
  left: 0;
  top: 0;
  animation: 
    l3-1 1.5s  linear infinite alternate,
    l3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l3-1 {
  100% {left:calc(100% - 8px)}
}
@keyframes l3-2 {
  100% {top:-0.1px}
}