.footer-wrapper {
    --border-color: rgba(255, 255, 255, 0.3);
    --body-color: #788094;
    position: relative;
    z-index: 2;
    background-color: $title-color;
    overflow: hidden;

    .th-social {
        a {
            background-color: #1F2432;
            color: $white-color;

            &:hover {
                background-color: $theme-color;
            }
        }
    }

    .social-links a {
        margin: 0 30px 0 0;
    }
}

.widget-area {
    padding-top: 100px;
    padding-bottom: 40px;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-links {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        font-family: $body-font;
        display: inline-block;
        padding-right: 15px;
        margin-right: 10px;
        position: relative;

        &:after {
            content: "";
            height: 20px;
            width: 1px;
            background-color: $body-color;
            position: absolute;
            top: 50%;
            right: 0;
            margin: -10px 0;
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            &:after {
                display: none;
            }
        }
    }

    a {
        font-family: inherit;
        color: $body-color;

        &:hover {
            color: $theme-color;
        }
    }
}

.copyright-wrap {
    padding: 27px 0;
    background: var(--theme-color);

    @include xs {
        background-color: var(--theme-color);
        padding: 25px 0 20px;
    }

    .copyright-text {
        color: var(--white-color);
        line-height: 1;

        a {
            color: $theme-color;

            &:hover {
                color: $white-color;
            }
        }
    }

    &.bg-title {
        .copyright-text {
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.copyright-text {
    margin: 0;

    a {
        color: $theme-color;

        &:hover {
            color: $white-color;
        }
    }
}

.th-widget-contact {
    max-width: 265px;
}

.footer-newsletter {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-left: 60px;

    .newsletter-title {
        max-width: 425px;
        margin-bottom: 0;
    }
}

.schedule-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed rgba($color: #fff, $alpha: 0.2);
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.th-widget-schedule {
    width: 280px;
    max-width: 100%;

    .title {
        color: $white-color;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 16px;
    }
}

.newsletter-widget {
    width: 330px;

    @include vxs {
        width: inherit;
    }

    .form-group {
        margin-bottom: 0;
    }

    .icon-btn {
        color: var(--white-color);
        padding: 0;
        border: none;
        position: absolute;
        border-radius: 30px;
        width: 46px;
        height: 46px;
        line-height: 4px;
        right: 0;
        top: 0;
        background: var(--theme-color);

        &:hover {
            background-color: $theme-color;
            color: var(--title-color);
        }
    }

    .footer-text {
        margin-bottom: 20px;
        color: #99a4a3;
    }

    .footer-info-title {
        font-size: 20px;
        color: var(--white-color);
        line-height: 1;
        margin-bottom: 8px;
    }

    .bottom {
        display: flex;
        gap: 11px;
        align-items: baseline;

        .icon i {
            color: var(--theme-color);
            font-size: 13px;
        }
    }

    p {
        padding-right: 10px;
    }

}

.footer-widget .newsletter-widget .icon-btn {
    background: var(--theme-color);
}

.newsletter-form {
    width: 100%;
    max-width: 500px;
    position: relative;

    @include lg {
        max-width: 460px;
    }

    .form-group {
        margin-bottom: 0;
        width: 100%;

        >i {
            color: $theme-color;
        }
    }

    input {
        background-color: var(--white-color);
        border: 1px solid #FFFFFF6B;
        width: 100%;
        margin-bottom: 15px;
        background-color: transparent;
        padding: 6px 20px;
        padding-right: 20px;
        padding-right: 70px;

        &:focus {
            background-color: $white-color;
            color: $body-color;
        }

    }

    .newsletter-btn {
        display: inline-block;
        border: none;
        background-color: $theme-color;
        color: $title-color;
        @include equal-size-lineHeight(55px);
        min-width: 55px;
    }
}

.newsletter-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $theme-color;
    padding: 50px;
    border-radius: 25px;

    .newsletter-title {
        margin-top: -0.24em;
        margin-bottom: -0.24em;
        max-width: 390px;
        color: $white-color;
        font-weight: 600;
    }

    .newsletter-text {
        margin-bottom: -0.5em;
        max-width: 400px;
    }

    .form-control {
        border-radius: 10px;
    }

    .th-btn {
        border-radius: 10px;
    }

    @include md {
        flex-direction: column;
        text-align: center;
        gap: 25px 0;

        .newsletter-form {
            max-width: 100%;
        }
    }
}

@include lg {
    .widget-area {
        padding-bottom: 10px;
    }
}

@include md {
    .newsletter-wrap {
        padding: 40px;

        .newsletter-title {
            font-size: 30px;
        }

        .newsletter-text {
            font-size: 16px;
        }
    }

    .footer-wrapper {
        .newsletter-form {
            max-width: 400px;
        }
    }
}

@include sm {
    .newsletter-wrap {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        .newsletter-title {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer-wrapper .newsletter-form {
        max-width: 550px;
        gap: 15px;
        justify-content: center;
    }
}

@include xs {
    .newsletter-wrap {
        padding: 40px 20px;

        .newsletter-title {
            font-size: 24px;
        }

        .newsletter-form {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer-wrapper {
        .newsletter-form {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .widget-area {
        padding-bottom: 0px;
    }
}


@include md {
    .footer-wrapper {
        .widget-area {
            padding-top: $space-mobile;
            padding-bottom: 0px;
        }
    }

    .copyright-text {
        text-align: center;
    }
}

.footer-call-wrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .info-box {
        margin-bottom: 25px;
    }

    .footer-info-title {
        font-size: 15px;
        color: var(--theme-color3);
        margin-bottom: 7px;
    }

    .info-box_link {
        color: var(--white-color);
        font-size: 18px;
        font-family: var(--title-color);

        @include xl {
            font-size: 16px;
        }
    }
}

.th-widget-about .th-social a {
    background-color: #1B1B1B;
    border: 0;
    border-radius: 0%;
    --icon-size: 40px;
    font-size: 14px;

    &:hover {
        background-color: var(--theme-color);
    }
}

/* Footer 1  ---------------------------------- */

.footer-1-top {
    z-index: 1;
    top: 10%;
}

.footer-layout1 {
    .widget-area {
        padding-top: 120px;
        padding-bottom: 70px;

        @include lg {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        @include md {
            padding-top: 80px;
            padding-bottom: 30px;
        }
    }

    background-color: var(--title-color);

    .footer-top {
        background-position: top right;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 49%;
            height: 100%;
            background-color: var(--theme-color);

            @include lg {
                display: none;
            }
        }

        .newsletter-form {
            display: flex;
            width: 100%;
            max-width: 100%;
            gap: 10px;

            .th-btn {
                position: absolute;
                right: 1px;
                margin-top: 1px;
                margin-right: 1px;
                top: 1px;
                padding: 19px 42px;

                @include xs {
                    position: inherit;
                    margin-top: 25px;
                }
            }

            .form-control {
                position: relative;
                background: #ffffff21;
                border-color: #ffffff3d;
                color: var(--white-color);
                padding-right: 220px;
                margin-bottom: 0;

                @include xs {
                    padding-right: 25px;
                }

                &::placeholder {
                    color: var(--white-color);
                }
            }
        }
    }


    .th-widget-about .th-social a {
        background-color: #1A3331;
        border: 0;
        border-radius: 50%;
        --icon-size: 40px;
        font-size: 13px;

        &:hover {
            background-color: var(--theme-color);
        }
    }


    .footer-shape-1 {
        top: 24%;
        left: 3%;
    }

    .footer-shape-2 {
        right: 6%;
        bottom: 18%;

        @include xs {
            display: none;
        }
    }

    .footer-bottom-shape {
        height: 120px;
        width: 100%;
        background: var(--theme-color);
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        @include xs {
            display: none;
        }
    }

    .subscribe-box {
        position: relative;
        z-index: 1;
        padding: 72px 0 72px;

        @include sm {
            padding: 60px 0 60px;
        }

        &_title {
            color: var(--white-color);
            font-size: 42px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 0px;
            margin-top: -0.25em;
        }

        &_text {
            font-size: 18px;
            font-weight: 600;
            font-family: var(--title-font);
            color: var(--white-color);
            margin-bottom: 20px;
        }



        @include xl {
            .subscribe-box_title {
                font-size: 30px;
            }
        }

        @include lg {
            text-align: center;
        }

        @include xs {
            .subscribe-box_title {
                font-size: 26px;
            }

            .subscribe-box_text {
                font-size: 16px;
            }
        }
    }

    .copyright-wrap {
        padding: 27px 0;
        background-color: var(--theme-color);
    }

}

.footer-border-right {
    position: relative;

    &:before {
        position: absolute;
        background: #ffffff1f;
        height: 85%;
        width: 1px;
        top: 0;
        content: "";
        right: -52px;

        @include xl {
            display: none;
        }
    }

    &:last-child:before {
        display: none;
    }
}

.footer-logo-wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    border-radius: 50px;
    position: relative;
    gap: 25px;
    flex-wrap: wrap;
    border: 1px solid #ffffff40;

    @include xs {
        padding: 24px 30px;
        border-radius: 50px;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--white-color);
        border-radius: 50px;
        opacity: .16;
        z-index: -1;
    }
}

.footer-top-social {
    display: flex;
    align-items: center;

    .th-social {
        a {
            border-radius: 100%;
            border-color: 1px solid var(--white-color);

            &:hover {
                color: var(--black-color);
                background-color: var(--theme-color);
            }
        }
    }
}

@media (max-width: 1600px) {
    .footer-wrapper .footer-shape-1 {
        top: 24%;
        left: 1%;
    }
}

/* footer Default ---------------------------------- */
.footer-default .footer-top {
    .footer-top-border {
        border-bottom: 1px solid #ffffff1f;
        padding: 80px 0;
        @include sm {
            padding: 60px 0;
        }
    }

    .payment-wrap {
        display: flex;
        justify-content: end;
        gap: 30px;
        @media  (max-width: 470px) {
            flex-direction: column;
            justify-content: start;
        }

        .info {
            h6 {
                color: #8D929C;
                font-size: 18px;
                line-height: 1;
                margin: 0;
                font-weight: 400;
            }

            h4 {
                line-height: 1;
                margin-top: -.18em;
                margin-bottom: 15px;
            }
        }

        .card-thumb-card {
            margin-left: 60px;  
            @media  (max-width: 470px) {
                margin-left: 0px; 
            }
    
        }
    }

}

.footer-default {
    background-position: top center;
    background-color: #111111;

    .widget-area {
        padding: 80px 0 32px;

        @include lg {
            padding-bottom: 50px;
        }

        @include md {
            padding-bottom: 30px;
        }

        @include sm {
            padding-bottom: 5px;
        }
        @media  (max-width: 570px) {
            padding: 60px 0 5px;
        }

    }
}

.footer-default .copyright-wrap {
    background: #1B1B1B;
    padding: 27px 0;

    .copyright-text {
        @include sm {
            border-radius: 15px;
        }
    }
}

/* footer 2 ---------------------------------- */
.footer-wrapper.footer-layout1 {
    overflow: initial;
    background-color: #0a1660;
}

.footer-top-shape {
    position: absolute;
    left: 0;
    right: 0;
    top: -115px;
    height: 116px;
    z-index: -1;
    width: 100%;

    @include sm {
        top: -60px;
        height: 60px;
    }
}

.footer-layout1 {
    .th-social a {
        border-radius: 50%;
        background: transparent;
    }

    .th-social a:hover {
        background-color: var(--theme-color);
        color: var(--title-color)
    }

    .th-widget-about .about-bottom-title {
        font-size: 20px;
        color: var(--white-color);
        line-height: 1;
        margin-bottom: 8px;
    }

    .th-widget-about .bottom-info {
        display: flex;
        gap: 11px;
        align-items: baseline;
    }

    .th-widget-about .bottom-info .icon {
        color: var(--theme-color);
        font-size: 13px;
    }

    .th-widget-about .bottom-info p {
        color: var(--white-color);
        padding-right: 10px;
        margin-bottom: 0;
    }

    .copyright-wrap .copyright-text {
        color: var(--white-color);
    }

    .copyright-wrap .copyright-text a {
        color: var(--theme-color);
    }
}

.footer-layout2 {
    --body-color: #B5B5B5;
    --th-border-color: rgba(1, 125, 3, 0.5);
    ;
    background-color: #002D00;

    a {
        &:before {
            transition: 0.3s;
        }

        &:hover {
            color: $theme-color !important;

            &:before {
                color: $theme-color !important;
            }
        }
    }

    .th-social {
        a {
            background-color: #123C12;
            color: $white-color !important;
            border-radius: 10px;

            &:hover {
                background-color: $theme-color;
            }
        }
    }

    .copyright-wrap {
        background-size: auto;
        background-position: top center;
        background-repeat: repeat-x;
        background-color: transparent;
        padding-top: 45px;
        margin-top: -10px;
    }

}

.footer-top-newsletter,
.footer-layout2 {
    .newsletter-wrap {
        padding: 80px 0;
        background-color: transparent;
        border-radius: 0;
        border-bottom: 1px solid $border-color;
        gap: 20px;

        @include md {
            padding: 60px 0;
        }
    }

    .newsletter-content {
        display: inline-flex;
        align-items: center;
        gap: 30px;

        .email-icon {
            @include md {
                display: none;
            }
        }
    }
}

.th-widget-contact {
    max-width: 280px;

    .footer-info-title {
        font-size: 20px;
        color: var(--white-color);
        line-height: 1;
    }
}

.info-box {
    display: flex;
    margin-bottom: 22px;

    &:last-child {
        margin-bottom: 0;
    }

    &_icon {
        @include equal-size(56px);
        min-width: 56px;
        line-height: 56px;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.08);
        color: var(--theme-color);
        border-radius: 30px;
        text-align: center;
        margin-right: 15px;
        border: 0;
    }

    &_text {
        display: block;
        color: $body-color;
        margin-top: -0.45em;
        margin-bottom: -0.45em;
        align-self: center;
    }

    &_link {
        display: inline-block;
        color: $body-color;

        &:hover {
            color: $theme-color;
        }
    }
}

/* footer 3 ---------------------------------- */
.footer-layout3 {
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .95;
        background-color: var(--black-color);
        z-index: -1;
    }

    .widget-area {
        padding-top: 120px;
        padding-bottom: 50px;
    }
}

.footer-layout3 {
    .copyright-wrap {
        background: #1A1A1A;
        padding: 19px 0;
    }
}

/* footer 4 ---------------------------------- */
.footer-layout4 {
    background-color: transparent;
    .copyright-wrap {
        background: var(--th-border-color2);
        padding: 128px 0 20px;
        margin-top: -110px;
    }
}

.widget-area.footer-layout3 {
	padding-top: 120px;
	padding-bottom: 60px;
    max-width: 1840px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.widget-area.footer-layout3 {
    padding-top: 120px;
    padding-bottom: 60px;
    border-radius: 40px;
}
.footer-layout4 .footer-layout3{
    border-radius: 40px;
    &::before {
        border-radius: 40px;
    }
}
