/* About 1 ---------------------------------- */
.img-box1.about-1 {
    position: relative;
    margin-bottom: 100px;

    .img1 {
        margin-left: -290px;
    }

    .img2 {
        position: absolute;
        z-index: 3;
        right: 58px;
        bottom: -102px;
    }

    .box-title {
        font-size: 40px;
        position: absolute;
        bottom: -90px;
        left: -23%;
    }
}

.about-body-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    margin-top: 30px;

    &__item {
        border: 1px solid #303030;
        padding: 30px;

        &:hover .about-body-1__icon img {
            transform: rotateY(180deg);
        }
    }

    &__icon {
        margin-bottom: 27px;

        img {
            transition: .4s;
        }
    }

    &__content .box-title {
        margin-bottom: 10px;
    }
}


.about-bottom-1 .th-btn {
    border-color: var(--theme-color);
    color: var(--theme-color);

    &:hover {
        color: var(--white-color);
    }
}

@media (max-width: 1700px) {
    .img-box1.about-1 .box-title {
        font-size: 33px;
        bottom: -75px;
        left: -11%;
    }
}
@media (max-width: 1600px) {
    .img-box1.about-1 .img1 {
        margin-left: -136px;
    }
    .img-box1.about-1 .box-title {
        font-size: 26px;
        bottom: -75px;
        left: -1%;
    }
}

@include xxl {
    .img-box1.about-1 .box-title {
        left: -1%;
    }
    .img-box1.about-1 .img2 {
        right: 20px;
        bottom: -102px;
    }
}
@include xl {
    .img-box1.about-1 .box-title {
        left: -1%;
        z-index: 4;
    }
}
@include md {
    .img-box1.about-1 .img1 {
        margin-left: -120px;
    }
}
@include sm {
    .img-box1.about-1 .img1 {
        margin-left: 0px;
    }
    .img-box1.about-1 .img1 {
        margin-left: 0px;
    }
    .img-box1.about-1 .img2 {
        display: none;
    }
    .img-box1.about-1 {
        position: relative;
        margin-bottom: 60px;
    }
}
@include xs {
    .about-body-1 {
        flex-direction: column;
    }
}

/* About 1.1 ---------------------------------- */
.img-box1.about-2 {
	display: flex;
	gap: 25px;
    position: relative;
    .img3 {
    position: absolute;
    left: 4%;
    top: 79%;
  }
}
.client-bottom-wrap {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    .client-wrap {
        display: flex;
        gap: 20px;
        align-items: center;
        .thumb {
            flex: 1;
            height: 56px;
            width: 56px;
            border-radius: 50%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .text-wrap {
            .box-title {
                font-size: 18px;
                margin-bottom: 0;
                font-weight: 500;
            }
            p {
                margin: 0;
                line-height: 1.4;
            }
        }
    }
}


.counter-card-wrap.style-2-inner {
    margin: 50px 0 48px;
    .counter-card .box-icon {
        background: transparent;
        border-color: var(--theme-color);
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: var(--theme-color);
            width: 100%;
            height: 100%;
            border-radius: 30px 0 0 30px;
            z-index: -1;
            top: 0;
            left: 0;
            opacity: .2;
        }
    }
    .counter-card .media-body {
        .box-text {
            color: var(--body-color);
            font-size: 16px;
            line-height: 1;
            margin-top: -.1em;
        }
        .counter-number {
            color: var(--title-color);
        }
        .box-number {
            line-height: .9;
            font-size: 52px;
            margin-bottom: 11px;
            margin-top: -.22em;
            .plus-simple {
                color: var(--theme-color);
            }
        }
    }
}
@media (max-width: 1550px) {
    .counter-card-wrap.style-2-inner {
        padding: 0;
    }
}
@include ml {
    .counter-card-wrap.style-2-inner {
        margin: 50px 0 0px;
    }.counter-card-wrap.style-2-inner .counter-card .media-body .box-number {
        font-size: 45px;
        margin-bottom: 10px;
    }
}
@include xl {
    .img-box1.about-2 .img3 {
        left: 0%;
        top: 70%;
    }
}
@include lg {
    .img-box1.about-2 {
        justify-content: end;
    }
    .img-box1.about-2 .img3 {
        top: 38%;
    }
}
@include md {
    .img-box1.about-2 .img3 {
        top: 56%;
        width: 234px;
    }
}
@include sm {
    .img-box1.about-2 .img3 {
        top: 56%;
        width: 180px;
    }
}
@include xs {
    .img-box1.about-2 .img3 {
        top: 56%;
        width: 150px;
    }
    .counter-card-wrap.style-2-inner .counter-card .media-body .box-number {
        font-size: 40px;
        margin-bottom: 9px;
    }
    .img-box1.about-2 {
        gap: 10px;
    }
}
@include vxs {
    .img-box1.about-2 .img3 {
        top: 56%;
        width: 130px;
    }
}