/* Blog Card ---------------------------------- */

.blog-1-shape-left {
    bottom: 0;
    left: 0;

    @include ml {
        display: none;
    }
}

.blog-1-shape-right {
    right: 0;
    bottom: 0;

    @include ml {
        display: none;
    }
}

.blog-card {
    border-radius: 0px;
    border: 0px solid var(--theme-color);
    border-bottom: 0px solid var(--theme-color);
    transition: .4s;
    background-color: var(--white-color);

    .blog-img {
        border-radius: 0px;
        overflow: hidden;
    }

    .blog-content {
        padding-top: 30px;
        position: relative;
        z-index: 3;
        border-radius: 0px;
        padding-bottom: 0px;
    }

    .box-title {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 1.357;

        a {
            background-image: linear-gradient(to left, $theme-color, $theme-color);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-size: 0% 0px;
            }
        }
    }

    .blog-img {
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .blog-meta {
        margin: -0.4em 0 15px 0;

        span,
        a {
            >i {
                color: $theme-color;
            }
        }
    }

    &:hover {
        border-color: var(--theme-color);

        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }

}


@include md {
    .blog-card {
        .box-title {
            font-size: 22px;
        }
    }
}

@include sm {
    .blog-card {
        .box-title {
            font-size: 24px;
        }
    }
}

@media (max-width: 410px) {
    .blog-card {
        .box-title {
            font-size: 22px;
        }
    }
}

@media (max-width: 350px) {
    .blog-card {
        .box-title {
            font-size: 20px;
        }
    }
}

/* Blog Box ---------------------------------- */
.blog-2-padding-bottom {
    padding-bottom: 235px;

    @include md {
        padding-bottom: 200px;
    }

    @include sm {
        padding-bottom: 140px;
    }
}


/* Blog Box 2 ---------------------------------- */

.blog-card.style-2 {
    .blog-img {
        border-radius: 20px;

        img {
            border-radius: 20px;
        }
    }

    .blog-content {
        padding-top: 38px;

        .box-title {
            font-size: 36px;
            margin-bottom: 28px;
        }
    }
}

.blog-card.style-2.right-style {
    display: flex;
    gap: 24px;

    .blog-img {
        min-width: 310px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .blog-content {
        padding-top: 16px;
    }

    .box-title {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.blog-card-style-2-wrap .blog-card.style-2.right-style:not(:last-child) {
	margin-bottom: 24px;
}

@include lg {
    .blog-card.style-2.right-style {
        gap: 25px;
        flex-direction: column;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .blog-card.style-2 .blog-content .box-title {
        font-size: 28px;
    }
}

@include xs {
    .blog-card.style-2 .blog-content .box-title {
        font-size: 24px;
    }
}

@include vxs {
    .blog-card.style-2.right-style .blog-img {
        min-width: inherit;
    }
}

/* Blog Box 3---------------------------------- */
.blog-sec-3 {
    .th-btn {
        border-color: #303030;
        color: var(--white-color);

        &:hover {
            border-color: var(--theme-color);

        }
    }
}


.blog-card.style-3 {
    background: transparent;

    .blog-meta a>i {
        color: var(--white-color);
    }

    .th-btn {
        border-color: #303030;
        color: var(--white-color);
    }

    .th-btn:hover {
        border-color: var(--theme-color);
    }

    .box-title {
        font-weight: 400;
    }
}


/* Blog Box 4 ---------------------------------- */
.blog-card {
    &.style-4 {
        background: var(--smoke-color);

        .blog-content {
            padding: 30px;

            .box-title {
                font-weight: 400;
                line-height: 1.2;
            }
        }
    }
}
/* Blog Box 5 ---------------------------------- */

.blog-card.style-5 {
    border-radius: 30px;
    background: var(--smoke-color);
    padding: 30px;
    border: 1px solid var(--th-border-color);
    .blog-img {
        border-radius: 16px;
    }
    .box-title {
        font-weight: 400;
    }
}




/* Blog Box ---------------------------------- */
.blog-box {
    border-radius: 20px;
    padding: 30px;
    background-color: $white-color;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
    display: flex;
    gap: 30px;

    .blog-img {
        width: 208px;
        border-radius: 14px;
        overflow: hidden;

        img {
            border-radius: inherit;
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .blog-content {
        align-self: center;
        flex: 1;
    }

    .box-title {
        font-size: 22px;
        margin-bottom: 14px;

        a {
            background-image: linear-gradient(to left, $theme-color, $theme-color);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 0.5s ease-in-out;

            &:hover {
                background-size: 100% 2px;
            }
        }
    }

    .blog-meta {
        margin: -0.3em 0 18px 0;

        span,
        a {
            >i {
                color: $theme-color;
            }
        }
    }

    .th-btn {
        margin-top: 30px;
        padding: 16px 25px;
        min-width: 152px;
        background-color: transparent;
        border: 1px solid $border-color;
        color: $theme-color;
        transition: 0.4s ease-in-out;

        &::before {
            background-color: $theme-color;
        }

        &:hover {
            color: $white-color;
            border-color: transparent;
        }
    }

    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

@include lg {
    .blog-box {
        .blog-img {
            width: 400px;

            img {
                max-height: 250px;
                object-fit: cover;
            }
        }
    }
}

@include md {
    .blog-box {
        .blog-img {
            width: 270px;
        }
    }
}

@include sm {
    .blog-box {
        flex-wrap: wrap;

        .blog-img {
            width: 100%;
        }

        .box-title {
            font-size: 24px;
        }
    }
}

@include vxs {
    .blog-box {
        .box-title {
            font-size: 22px;
        }
    }
}

/* Blog Grid ---------------------------------- */
.blog-grid {
    .blog-img {
        border-radius: 20px;
        overflow: hidden;
    }

    .blog-content {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
        padding: 30px;
        margin: -70px 20px 0 20px;
        position: relative;
        z-index: 3;
    }

    .box-title {
        font-size: 22px;
        margin-bottom: 20px;

        a {
            background-image: linear-gradient(to left, $theme-color, $theme-color);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 0.5s ease-in-out;

            &:hover {
                background-size: 100% 2px;
            }
        }
    }

    .blog-img {
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .blog-meta {
        margin: -0.4em 0 18px 0;

        span,
        a {
            >i {
                color: $theme-color;
            }
        }
    }

    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

@include md {
    .blog-grid {
        .blog-content {
            padding: 20px;
        }
    }
}

@include sm {
    .blog-grid {
        .blog-content {
            padding: 30px;
        }
    }
}

@include vxs {
    .blog-grid {
        .blog-img {
            border-radius: 10px;
        }

        .blog-content {
            padding: 20px;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}