/* Category Card -------------------------------------*/
.category-card {
    background-color: #FFF7E8;
    padding: 27px 20px 30px 20px;
    text-align: center;
    transition: 0.4s ease-in-out;
    border-radius: 100px 100px 0 0;

    .box-icon {
        @include equal-size-lineHeight(140px);
        background-color: #FFF7E8;
        margin: 0 auto 20px auto;
        border-radius: 50%;
        outline: 10px solid var(--white-color);
    }

    .box-title {
        font-size: 20px;
        margin-bottom: -0.3em;
        transition: 0.1s;
        margin-top: 30px;

        span {
            color: var(--theme-color);
            transition: .4s;
        }

        a {
            &:hover {
                color: $title-color;

                span {
                    color: $title-color;
                    ;
                }
            }
        }
    }

    &:hover {
        background-color: $theme-color;

        .box-title {
            color: $white-color;

            span {
                color: var(--white-color);
            }
        }

        .box-subtitle {
            color: $white-color;
        }

        .box-icon {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

@media (max-width: 400px) {
    .category-card {
        border-radius: 30px 30px 0 0;
    }
}


/* Category Card style-2  -------------------------------------*/


.category-card.style-2 {
    background: transparent;
    border-radius: 0;
    padding: 13px 10px 0px 10px;
    .box-icon {
        margin: 0;
        background: var(--th-border-color);
        border: 3px solid var(--white-color);
        outline: 10px solid var(--th-border-color);
        margin-left: auto;
        margin-right: auto;
    }
    .box-title {
        margin-top: 24px;
    }
    &:hover {
        .box-title {
            color: $theme-color;
        }
    }
}





/* Category Box -------------------------------------*/
.category-box {
    text-align: center;

    .box-icon {
        @include equal-size-lineHeight(150px);
        margin: 0 auto 20px auto;
        border-radius: 999px;
        position: relative;
        z-index: 2;

        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: inherit;
            z-index: -1;
        }

        &:before {
            inset: 11px;
            background-color: $white-color;

        }

        &:after {
            inset: 0;
            border: 2px dashed $border-color;
        }

        @include vxs {
            @include equal-size-lineHeight(130px);
        }
    }

    .box-title {
        font-size: 20px;
        margin-bottom: 5px;

        @include vxs {
            font-size: 18px;
        }
    }

    .box-text {
        font-size: 14px;
    }

    &:hover {
        .box-icon {
            img {
                transform: rotateY(180deg);
            }

            &:after {
                border-color: $theme-color;
                animation: spin 10s linear infinite;
            }
        }
    }
}

.category-sec-2{
	z-index: 3;
}