/* Gallery Card 1 -------------------------------*/
.gallery-card {
    position: relative;

    .gallery-img {
        position: relative;
        border-radius: 0px;
        transition: 0.4s;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 0px;
            transition: .4s;

            @include lg {
                border-radius: 0px;
            }

            @include md {
                border-radius: 0px;
            }
        }
    }


    .gallery-content {
        position: absolute;
        top: 50px;
        left: 0%;
        width: 100%;
        opacity: 1;
        transition: 0.4s;
    }

    .box-title {
        margin-bottom: 0;
        color: transparent;
        -webkit-text-stroke: 1px var(--white-color);
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 20%;
        @include lg {
            font-size: 26px;
            letter-spacing: 10%;
        }
        @include sm {
            font-size: 24px;
            letter-spacing: 6%;
        }
    }

    .box-text {
        color: var(--theme-color3);
        margin-bottom: 0;
        font-size: 18px;
        font-family: var(--title-font);
        transition: .3s;
        opacity: 0;
    }

    &:hover {
        .gallery-img {
            &:before {
                transform: scale(1);
            }

        }

        .gallery-content .box-text {
            opacity: 1;
        }

        .gallery-img img {
            filter: blur(5px);
        }
    }
}


/* Gallery Card 2 -------------------------------*/
.gallery-2-wrapper {
    display: flex;
    gap: 24px;
}

.gallery-card2 {
    flex: 100%;
    transition: all 0.3s linear;
    border-radius: 24px;

    &:hover {
        .gallery-img:before {
            transform: scale(1);
        }

        .icon-btn {
            opacity: 1;
            visibility: visible;
        }
    }

    .gallery-img {
        border-radius: 30px;
        z-index: 2;
        transition: 0.7s ease-in-out;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            inset: 0;
            background: var(--black-color2);
            opacity: 0.8;
            border-radius: 8px;
            transition: 0.4s ease;
            transform: scale(0);
            z-index: -1;
            height: 106%;
            width: 103%;
            z-index: 1;
        }
    }

    .icon-btn {
        position: absolute;
        text-align: center;
        z-index: 1;
        transition: .4s;
        ;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        border: 0;
        transition: .4s;
        background: var(--white-color);
        --btn-size: 33px;
        border-radius: 7px;

        &:hover {
            color: var(--theme-color);
        }

        .box-title {
            font-size: 18px;
            color: var(--white-color);
            margin: 0;
        }

        .box-text {
            color: var(--white-color);
            font-size: 14px;
        }
    }
}

// @include md {
//     .gallery-2-wrapper {
//         flex-direction: column;
//     }

//     .gallery-card2 {
//         &.active .gallery-img {
//             max-height: 370px;
//         }
//     }
// }

// @include xs {
//     .gallery-card2 {
//         &.active .gallery-img {
//             max-height: 310px;
//         }

//         .gallery-img {
//             max-height: 150px;
//         }
//     }
// }

/* Gallery Card 3 -------------------------------*/
.gallery-sec-3 {
	background: #1A1A1A;
}
.gallery-sec-3 .swiper-slide.swiper-slide-active {
    .gallery-content-hover {
        opacity: 1;
        visibility: visible;
        bottom: 28px;
    }

    .gallery-img::before {
        opacity: .7;
    }
}

.gallery-img {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(transparent 51%, var(--theme-color) 110%);
        opacity: 0;
        transition: .4;
    }

    &:hover {
        .gallery-content-hover {
            opacity: 1;
            visibility: visible;
            bottom: 28px;
        }

        &::before {
            opacity: .7;
        }
    }
}

.gallery-content-hover {
    position: absolute;
    backdrop-filter: blur(24px);
    width: 83%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffffff24;
    background: #ffffff24;
    padding: 18px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    bottom: -28px;
    transition: .4s;

    .left {
        .box-text {
            color: var(--white-color);
            font-size: 18px;
            margin-bottom: 7px;
            font-family: var(--title-font);
        }

        .box-title {
            font-size: 27px;
            margin-bottom: 0;
        }
    }

    .right {
        a {
            color: var(--white-color);
            border: 1px solid #ffffff24;
            font-size: 30px;
            width: 56px;
            height: 56px;
            display: block;
            text-align: center;
            line-height: 56px;

            &:hover {
                background-color: var(--theme-color);
            }
        }
    }
}

@media (max-width: 1700px) {
    .gallery-content-hover {
        padding: 18px 20px;
        width: 86%;
    }
    .gallery-content-hover .left .box-title {
        font-size: 22px;
    }
}

@include ml {
    .gallery-content-hover .right a {
        font-size: 20px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}

@include sm {
    .gallery-content-hover .left .box-title {
        font-size: 20px;
    }
    .gallery-content-hover .right a {
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/* Browse Gallery item ----------- */

.browse-container-1 {
    width: 980px;
    margin-left: -115px;
    position: relative;
    padding: 20px 0;

    .th-slider.has-shadow .swiper-wrapper {
        padding: 60px 0;
    }
}
.pagination-count-wrap.browse-1 {
    .slider-pagination2 {
        text-align: end;
        margin: 10px 3px -37px 0px;
    }
    .pagination-wrap .swiper-pagination-bullets {
        right: 0;
        right: 25px;
        text-align: end;
        width: 100%;
        margin: 0px 0px 0px -46px;
        position: absolute;
    }
    .slider-pagination2 .current-slide {
        margin-right: 242px;
    }
}
 
.browse-right-wrap {
	padding-top: 80px;
}
.browse-container-1 {
    .slider-arrow {
        border-radius: 50%;
        background: var(--white-color);
        border: 0;
        border: 1px solid var(--th-border-color);
        top: 43%;
        left: -27px;

        &:hover {
            background: var(--theme-color);
            border-color: var(--theme-color);
        }

        &.slider-next {
            right: var(--pos-x, -30px);
            left: auto;
        }
    }
}

.browse-gallery-card {
    &__img img {
        width: 100%;
    }
    &__content {
        text-align: center;
        margin-top: 18px;

        .box-title {
            font-size: 20px;
            font-weight: 400;
            transform: .4s;

            &:hover a {
                text-decoration: underline;
            }
        }
    }
}

.browse-left-thumb-1 {
    margin: -56px -20px -224px -300px;
    height: 850px;
    position: relative;
}

@media (max-width: 1860px) {
    .browse-container-1 {
        margin-left: -200px;
    }
}
@media (max-width: 1690px) {
    .browse-container-1 {
        margin-left: -310px;
    }
}
@include xxl {
    .browse-container-1 {
        margin-left: -170px;
        width: 750px;
    }
    .browse-left-thumb-1 {
        margin: -56px -20px -264px -300px;
        height: 887px;
        position: relative;
    }
}
@include xl {
    .browse-left-thumb-1 {
        margin: 16px 34px -244px -265px;
        height: 883px;
        position: relative;
    }
}
@include lg {
    .browse-container-1 {
        margin-left: -300px;
        width: 750px;
    }
}
@include md {
    .browse-left-thumb-1 {
        margin: 0;
        height: auto;
        position: relative;
    }
    .browse-right-wrap {
        padding-top: 10px;
    }
    .browse-container-1 {
        margin-left: 0;
        width: auto;
    }
}
@include xs {
    .browse-container-1 .slider-arrow {
        display: none;
    }
    .pagination-count-wrap.browse-1 .pagination-wrap .swiper-pagination-bullet {
        width: 18px;
    }
    .pagination-count-wrap.browse-1 .slider-pagination2 .current-slide {
        margin-right: 205px;
    }
}

/* filer item ----------- */

.filter-item {
    .gallery-card {
        &:hover {
            .icon-btn {
                margin: -28px 0 0 -28px;
                visibility: visible;
                opacity: 1;
            }

            .gallery-img {
                &:before {
                    transform: scale(1);
                }
            }

            .gallery-overlay {
                transform: scaleX(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.filter-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin-top: 22px;
    position: relative;

    @include md {
        justify-content: center;
        margin: 0 0 30px 0;

    }

    button {
        border: none;
        padding: 0;
        margin-bottom: 5px;
        background-color: transparent;
        padding: 10px 30px;
        border: 1px solid #D4D4D4;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $title-color;
        position: relative;

        @include lg {
            padding: 10px 20px;
        }

        &.active,
        &:hover {
            background-color: $theme-color;
            color: $white-color;
            border-color: $theme-color;
        }
    }

    .indicator {
        position: absolute;
        height: 12px;
        // background-image: url("../img/theme-img/button_shape.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: calc(var(--width-set) + 24px);
        left: calc(var(--pos-x) - 12px);
        top: calc(var(--pos-y) + 20px);
        transition: 0.4s ease-in-out;
    }
}

@include xl {
    .gallery-card {
        .gallery-img {
            img {
                width: 100%;
            }
        }
    }
}

@include lg {
    .filter-menu {
        gap: 5px;
    }
}


.gallery-card {
    text-align: center;

    .box-img {
        position: relative;
        z-index: 2;
        border-radius: 30px;
        overflow: hidden;

        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            inset: 40px 40px 0 40px;
            border-radius: 12px 12px 0 0;
            background-color: $title-color;
            opacity: 0;
            transition: 0.4s ease;
            transform: scale(0.3);

            @include xs {
                inset: 30px 30px 0 30px;
            }
        }
    }

    .icon-btn {
        position: absolute;
        top: calc(50% - 28px);
        left: calc(50% - 28px);
        z-index: 3;
        transform: scale(0);
    }

    .box-content {
        max-width: 300px;
        padding: 30px 10px;
        background-color: $white-color;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
        border-radius: 30px;
        margin: -60px auto 0 auto;
        position: relative;
        z-index: 3;
        transition: 0.4s ease-in-out;
        visibility: hidden;
        opacity: 0;
        transform: translateY(40px);
    }

    .box-title {
        font-weight: 500;
        margin-bottom: 0;
    }
}

#gallerySlider1 {
    .swiper-slide-active {
        .gallery-card {
            .box-img {
                &:after {
                    opacity: 0.7;
                    transform: scale(1);
                }
            }

            .box-content {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }

            .icon-btn {
                transform: scale(1);
            }
        }
    }
}

.gallery-card.style-hover {
    position: relative;
    height: 450px;

    .box-img {
        height: 450px;
        transition: 0.4s ease-in-out;

        &:after {
            inset: 30px 30px 95px 30px;
            border-radius: 15px;
        }
    }

    .box-content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50px);
        width: 100%;
        max-width: 330px;
        border-radius: 25px;
    }

    &:hover {
        .box-img {
            height: 395px;

            &:after {
                opacity: 0.7;
                transform: scale(1);
            }
        }

        .icon-btn {
            transform: scale(1);
            margin-top: -35px;
        }

        .box-content {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }
}
.pagination-count-wrap.browse-2 {
    .swiper-pagination-bullets {
        margin: 69px 0px -3px 0px;
    }
    .swiper-pagination-bullet {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        margin: -4px 7px;
        background: var(--th-border-color2);
        transition: .4s;
        &.swiper-pagination-bullet-active {
            height: 20px;
            width: 20px;
            background: var(--theme-color);
        }
    }
}




/* Project Details --------------------*/
.project-meta {
    &-wrap {
        display: flex;
        padding: 29px 30px;
        justify-content: space-between;
        max-width: 820px;
        border-radius: 0 0 20px 20px;
        background-color: $white-color;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 3;
        margin: 0 auto -70px auto;

        @include sm {
            gap: 20px 7px;
            flex-wrap: wrap;
            margin: 0 0 20px 0;
            border-radius: 15px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            border-style: solid;
            display: inline-block;
            z-index: -1;

            @include md {
                display: none;
            }
        }

        &:before {
            border-width: 0 0 30px 30px;
            border-color: transparent transparent $gray-color transparent;
            left: -30px;
        }

        &:after {
            border-width: 30px 0 0 30px;
            border-color: transparent transparent transparent $gray-color;
            right: -30px;
        }

        .line {
            background-color: $border-color;
            height: 40px;
            width: 1px;

            @include sm {
                display: none;
            }
        }
    }

    .box-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    @include sm {
        flex: calc(50% - 4px);
    }
}

.project-details {
    .page-title {
        font-weight: 600;
        text-align: center;
    }

    .page-text {
        max-width: 890px;
        margin: 0 auto 32px auto;
        text-align: center;
    }
}

.project-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 17px 0;
    margin-top: 22px;

    .icon-btn {
        --btn-size: 46px;
        font-size: 16px;
        border-radius: 99px;
        border: none;
        background-color: $theme-color;
        color: $white-color;

        &:hover {
            background-color: $theme-color;
        }
    }

    .nav-btn {
        color: $title-color;
        font-family: $title-font;
        font-weight: 500;

        &:first-child {
            .icon-btn {
                margin-right: 5px;
            }
        }

        &:last-child {
            .icon-btn {
                margin-left: 5px;
            }
        }

        &:hover {
            color: $theme-color;
        }
    }

}

@media (min-width: 1800px) {
    .col-xxl-auto {
        width: auto;
    }
}


/* single inventory Gallery -------------------------------*/
.single-inventory-wrapper {
    display: flex;
    gap: 24px;
    padding: 60px 0;
}

.single-inventory-item {
    &.active {
        flex: 400%;
        .single-inventory-img:before {
            transform: scale(1);
        }

        .single-inventory-item-content {
            opacity: 1;
            visibility: visible;
            animation-delay: 0.5s;
        }
    }
    flex: 100%;
    transition: all 0.3s linear;

    .single-inventory-img {
        height: 520px;
        z-index: 2;
        transition: 0.7s ease-in-out;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .single-inventory-item-content {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        width: 100%;
        text-align: center;
        .simple-icon-btn {
            background: var(--white-color);
            border-radius: 15px;
            padding: 8px 19px;
            color: var(--title-color);
            font-size: 18px;
            &:hover {
                color: var(--theme-color);
            }
            i {
                margin-right: 2px;
                color: var(--theme-color);
            }
        }
    }
}

@include md {
    .single-inventory-wrapper {
        flex-direction: column;
    }

    .single-inventory-item {
        &.active .single-inventory-img {
            max-height: 370px;
        }

        .single-inventory-img {
            display: flex;
            max-height: 160px;
        }
    }
}

@include xs {
    .single-inventory-item {
        &.active .single-inventory-img {
            max-height: 310px;
        }

        .single-inventory-img {
            max-height: 130px;
        }
    }
}

@media (max-width: 420px) {
    .single-inventory-item {
        &.active .single-inventory-img {
            max-height: 220px;
        }
    }
}