/* Price Sec1 ---------------------------------- */

.price-card {
    background-color: var(--white-color);
    padding: 50px;
    border-radius: 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    transition: .4s;
    border: 1px solid #2C2C2C;
    position: relative;
    z-index: 1;

    &:hover {
        border-color: var(--theme-color);
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--black-color2);
        opacity: .96;
        left: 0;
        top: 0;
        z-index: -1;
    }

    @include vxs {
        padding: 30px;
    }

    .tag {
        position: absolute;
        right: -15px;
        background: var(--white-color);
        padding: 2px 23px;
        border-radius: 30px 0px 0px 30px;
        top: 46px;
        transform: rotate(-90deg);
        font-size: 18px;
        color: var(--title-color);
        text-transform: uppercase;
    }

    &_title {
        font-size: 28px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 52px;
        margin-top: -.35em;
        transition: .4s;
        position: relative;

        &::before {
            content: "";
            width: 115px;
            height: 2px;
            background: #303030;
            left: 0;
            bottom: -12px;
            position: absolute;
        }

        @include md {
            font-size: 24px;
        }
    }

    .box-text {
        margin-bottom: 11px;
        transition: .4s;
    }

    &_price {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 35px;
        transition: .4s;

        @include xl {
            font-size: 42px;
        }

        @include md {
            font-size: 37px;
        }

        @include vxs {
            font-size: 32px;
        }

        sup {
            font-size: 25px;
            margin-right: 7px;
        }

        .duration {
            font-size: 18px;
            transition: .4s;
            font-weight: 400;
            margin-left: -14px;
        }
    }

    &_content {
        margin-top: 35px;

        .checklist li {
            padding-bottom: 3px;
            transition: .4s;
            border-bottom: 0px solid #E0E0E0;
            align-items: center;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            &.unavailable i {
                color: #303030;
            }

            i {
                font-size: 15px;
                transition: .4s;
                margin-right: 6px;
            }
        }
    }

    .price-card_bottom {
        margin-top: 42px;
    }
}


.price-card.active {
    border: 1px solid var(--theme-color);

    &:before {
        background: var(--theme-color);
    }

    .price-card_title:before {
        background: var(--white-color);
    }

    .price-card_content {
        .checklist li {
            color: var(--white-color);

            &.unavailable i {
                color: #F38F7B;
            }

            i {
                color: var(--white-color);
            }
        }
    }

    .price-card_bottom .th-btn {
        background: var(--white-color);
        color: var(--theme-color);

        &:hover:before {
            background: var(--black-color2);
        }
    }
}

@include vxs {
    .price-card .tag {
        position: absolute;
        right: -28px;
        top: 33px;
        font-size: 12px;
    }

    .price-card .price-card_bottom .th-btn {
        padding: 21px 20px;
    }
}


/* switch animation Button ---------------*/

.pricing-tabs {
    margin-top: 31px;
    margin-bottom: 60px;

    &.style2 {
        .switch-area {
            .toggler {
                color: $white-color;
            }

            .toggle {
                height: 36px;
            }

            .switch {
                left: 3px;
                top: 3px;
                bottom: 3px;
                right: 45%;
            }

            .check:checked~.switch {
                right: 3px;
                left: 47%;
            }
        }
    }

    .discount-tag {
        color: $theme-color;
        font-size: 16px;
        font-weight: 500;
        font-family: $body-font;
        position: absolute;
        bottom: -3px;
        transform: translate(-35px, 100%);
        display: inline-flex;
        align-items: end;
        gap: 10px;
    }

    @include xs {
        margin-bottom: 0px;

        .discount-tag {
            display: none;
        }
    }
}

.switch-area {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    .toggler {
        transition: .2s;
        font-weight: 600;
        font-size: 20px;
        font-family: $body-font;
        color: $white-color;
        background: transparent;
        margin-bottom: -0.4em;
        cursor: pointer;
    }

    .toggle {
        position: relative;
        width: 70px;
        height: 36px;
        border-radius: 100px;
        background-color: $theme-color;
        overflow: hidden;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    }

    .check {
        position: absolute;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 6;
        visibility: visible;

        &:checked~.switch {
            right: 3px;
            left: 53%;
            transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-property: left, right;
            transition-delay: .08s, 0s;
        }
    }

    .switch {
        position: absolute;
        left: 3px;
        top: 3px;
        bottom: 3px;
        right: 53%;
        background-color: $white-color;
        border-radius: 36px;
        z-index: 1;
        transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0s, .08s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
}

.wrapper-full.hide {
    display: none;
}

.wrapper-pack.hide {
    display: none;
}

/* Price 02 ---------------*/
.price-sec-1 {
    &.before-none {
        &::before {
            display: none;
        }
    }
}

.price-card {
    &.style-2 {
        border: 1px solid var(--theme-color);
    }
}