/* Service Card ---------------------------------- */
.service-card {
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 16px;
    padding: 30px;
    transition: .4s;
    text-align: center;
    .service_card-bg-1 {
        top: 0;
        right: 0;
    }

    &:hover {
        transform: translateY(-3px);
    }

    .box-thumb {
        position: relative;
        margin-bottom: 25px;
        transition: all 0.4s ease;
        img {
            width: 100%;
        }
        .top-icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -31px;
            height: 98px;
            width: 100px;
            text-align: center;
            background: var(--white-color);
            border-radius: 0 0 50px 50px;
            line-height: 100px;
            img {
                width: auto;
            }
        }
    }

    .box-content {
        .box-title {
            font-size: 28px;
            margin-bottom: 10px;
        }

        .box-text {
            margin-bottom: 20px;
        }

    }
}

@include md {
    .service-card .box-content .box-title {
        font-size: 24px;
        margin-bottom: 8px;
    }
}
@include xs {
    .service-card {
        padding: 20px;
    }
}
/* Service Card  1 ---------------------------------- */
.th-service-1 {
	background: #1A1A1A;
    z-index: 1;
}
.service-box-img {
    text-align: center;
    border: 1px solid #36383B;
    padding: 0 20px 21px;
    font-weight: 400;
    cursor: pointer;
    margin: 4px 0;

    .icon-box {
        height: 80px;
        width: 80px;
        text-align: center;
        line-height: 80px;
        margin: 0 auto;
        border: 1px solid #36383B;
        border-top: 0;
        border-radius: 0 0 40px 40px;
        margin-bottom: 30px;
    }

    .box-title {
        margin-bottom: 0;

        span {
            display: block;
        }
    }
}

.service-card-1-wrapper {
    margin-top: 35px;
}

.service-card-1 {
    .sec-title {
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .box-text {
        margin-bottom: 30px;
    }

    .service-bottom {
        margin-bottom: 30px;

        .box-title {
            font-weight: 400;
            margin-bottom: 10px;
        }

        .checklist li {
            font-size: 18px;
            color: var(--white-color);
            font-family: var(--title-font);
        }
    }
}

.service-1-thumb-slider-wrap .swiper-slide-thumb-active {
    .service-box-img {
        border: 1px solid var(--theme-color);

        .icon-box {
            border-color: var(--theme-color);

            .service-img {
                filter: invert(34%) sepia(92%) saturate(600%) ;
            }
        }
    }
}

.service-1-pagination-wrap {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 36.5%;
        height: 1px;
        background: #3A3A3A;
        top: -11px;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 36.5%;
        height: 1px;
        background: #3A3A3A;
        top: -11px;
    }
    .slider-pagination2 {
        font-size: 40px;
        font-weight: 700;
        padding: 4px;
        margin-top: -39px;
        .current-slide {
            margin-right: 208px;
        }
    }
    .pagination-wrap {
        .slider-pagination {
            margin: 60px 0 -10px 0;
            .swiper-pagination-bullet {
                width: 20px;
                height: 2px;
                border-radius: 0;
                background-color: #3A3A3A;
                --swiper-pagination-bullet-horizontal-gap: 3px;
              }
        }
    }
}

.service-1-pagination-wrap .pagination-wrap .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--theme-color);
}

@include ml {
    .service-1-pagination-wrap::before {
        width: 32.5%;
    }
    .service-1-pagination-wrap::after {
        width: 32.5%;
    }
}
@include lg {
    .service-1-pagination-wrap::before {
        width: 30.5%;
    }
    .service-1-pagination-wrap::after {
        width: 30.5%;
    }
}
@include md {
    .service-1-pagination-wrap::before {
        width: 20.5%;
    }
    .service-1-pagination-wrap::after {
        width: 20.5%;
    }
}
@include sm {
    .service-1-pagination-wrap::before {
        width: 15.5%;
    }
    .service-1-pagination-wrap::after {
        width: 15.5%;
    }
}

@include xs {
    .service-1-pagination-wrap::before {
       display: none;
    }
    .service-1-pagination-wrap::after {
       display: none;
    }
    .service-1-pagination-wrap .pagination-wrap .slider-pagination .swiper-pagination-bullet {
        width: 10px;
    }
    .service-1-pagination-wrap .pagination-wrap .slider-pagination {
        margin: 40px 0 -10px 0;
    }
    .service-1-pagination-wrap .slider-pagination2 .current-slide {
        margin-right: 140px;
    }

}

/* Service Card  inner ---------------------------------- */






/* Service Details ---------------------------------- */
.page-title {
    margin-bottom: 20px;
    font-size: 46px;

    @include sm {
        font-size: 28px;
    }
}

.page-img {
    margin-bottom: 35px;
    overflow: hidden;
    border-radius: 0px;

    img {
        width: 100%;
    }
}

.page-single {
    margin-bottom: 30px;
}

.service-feature {
    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    background-color: $white-color;
    padding: 20px 20px 20px 70px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .box-icon {
        background: $smoke-color2;
        @include equal-size-lineHeight(80px);
        text-align: center;
        border-radius: 99px;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 2;

        &:after {
            content: '';
            position: absolute;
            inset: 10px;
            background-color: $theme-color;
            border-radius: inherit;
            z-index: -1;
        }
    }

    .box-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: -0.3em;
    }
}