/* Testimonial Card ---------------------------------- */
@include xs {
    .testi-card-slide .slider-arrow {
        display: none;
    }
}

.testi-img-box {
    position: relative;
    margin-left: -308px;
    z-index: 1;

    @include xxl {
        margin-left: -250px;
    }

    @include xl {
        margin-left: -305px;
    }

    @include lg {
        margin-left: 0;
    }
}

.testi-block {
    border-radius: 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    transition: .4s;
    padding: 30px;
    background-color: var(--white-color);

    @include sm {
        padding: 25px;
    }

    @include vxs {
        padding: 20px;
    }

    &-top {
        display: flex;
        gap: 30px;

        @include vxs {
            gap: 10px;
            flex-direction: column;

        }

        .box-img {
            height: 72px;
            width: 72px;

            img {
                height: 72px;
                width: 72px;
            }
        }

        .content {
            flex: 1;

            .box-desig {
                margin: 0;
                line-height: 1;
            }

            .box-title {
                line-height: 1;
                margin-bottom: 13px;
                font-size: 20px;
            }

            .content-bottom {
                display: flex;
                margin-top: 22px;
                justify-content: space-between;
            }

            .content-bottom .left .name-title {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 6px;
            }
        }
    }

    .box-review {
        color: var(--yellow-color);
        margin-bottom: -0.3em;
        display: flex;
        gap: 3px;
        font-size: 12px;
        align-items: center;
        margin-bottom: 30px;

        .rating {
            line-height: 1;
            font-size: 14px;
            color: var(--body-color);
            margin-left: 12px;
        }
    }
}

.pagination-count-wrap {
    position: relative;

    .pagination-wrap {
        .swiper-pagination-bullets {
            left: 14px;
        }
    }

    .slider-pagination2 {
        text-align: center;
        margin: -35px 0px 0px 0;

        .current-slide {
            margin-right: 190px;
            font-size: 40px;
            color: var(--title-color);
            font-weight: 700;
        }

        .total-slides {
            margin-left: -20px;
        }

        span {
            font-family: var(--title-font);
        }
    }
}

.pagination-count-wrap {
    .pagination-wrap {
        .swiper-pagination-bullet {
            height: 2px;
            width: 22px;
            background: var(--th-border-color);
            border-radius: 0;
            --swiper-pagination-bullet-horizontal-gap: 2px;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: var(--theme-color);
        }
    }
}

.pagination-count-wrap.border-style {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 39%;
        height: 1px;
        background: var(--th-border-color);
        top: -11px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 39%;
        height: 1px;
        background: var(--th-border-color);
        top: -11px;
    }
}

@include xl {
    .pagination-count-wrap.border-style::before {
        width: 38%;
    }

    .pagination-count-wrap.border-style::after {
        width: 38%;
    }
}

@include lg {
    .pagination-count-wrap.border-style::before {
        width: 35%;
    }

    .pagination-count-wrap.border-style::after {
        width: 35%;
    }
}

@include md {
    .pagination-count-wrap.border-style::before {
        width: 26%;
    }

    .pagination-count-wrap.border-style::after {
        width: 26%;
    }
}

@include md {
    .pagination-count-wrap.border-style::before {
        display: none;
    }

    .pagination-count-wrap.border-style::after {
        display: none;
    }
}


/* Testimonial Card  2 ---------------------------------- */
.testi-card-area-2 {
    background-color: #FFF7E8;
}

.testi-card-slide.bg-before {
    margin-top: 105px;

    &::before {
        content: "";
        width: 214.5%;
        height: 112%;
        position: absolute;
        background: var(--white-color);
        left: -112%;
        border-radius: 30px;
        z-index: 1;
        bottom: -8px;
    }
}

.test-2-imb-box {
    margin-left: -104px;
    margin-top: -65px;
    position: relative;
    z-index: 2;
}

.testi-block.style-2 {
    box-shadow: none;
    padding: 0;

    .content-wrapper {
        .box-text {
            font-size: 20px;
            border-left: 4px solid var(--th-border-color);
            padding-left: 18px;
            margin-left: 0px;
            margin-bottom: 30px;
        }

        .auth-info-wrap {
            display: flex;
            gap: 20px;

            .thumb {
                border-radius: 10px;
                height: 44px;
                width: 44px;

                img {
                    border-radius: 10px;
                }
            }

            .right .box-title {
                font-size: 20px;
                margin-bottom: 0px;
            }
        }
    }
}


.icon-box.testi-card-2-icon {
    position: absolute;
    bottom: 47px;
    right: 40px;

    .slider-arrow {
        --icon-size: 56px;
        border: 1px solid var(--th-border-color);
        color: var(--title-color);

        &:hover {
            color: var(--theme-color);
            border-color: var(--theme-color);
            background: transparent;
        }
    }
}


@include md {
    .test-2-imb-box {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@include xs {
    .testi-card-area-2 .testi-card-slide {
        margin-top: 70px;
    }

    .testi-card-area-2 .testi-card-slide::before {
        height: 104%;
    }
}


/* Testimonial Card  3 ---------------------------------- */

.testi-block-3 {
    display: flex;
    gap: 100px;
    border: 1px solid #303030;
    padding: 100px;

    .testi-3-bg-icon {
        left: 405px;
        top: 60px;
    }

    .right-content {
        flex: 1;

        .box-text {
            font-size: 36px;
            color: var(--white-color);
            font-family: var(--title-font);
            line-height: 1.38;
            margin-bottom: 38px;
            margin-top: -.35em;
        }
    }
}


.testi-3-slider-wrapper {
    position: relative;

    .icon-box {
        position: absolute;
        right: 0;
        bottom: 25px;

        .slider-arrow {
            border: 0;
            color: var(--white-color);
            font-size: 24px;

            &:first-child {
                margin-right: 5px;
            }
        }
    }

    .slider-arrow {
        background: #1E1E1E;
        border: 1px solid #3E3D3D;

        &:hover {
            background: var(--theme-color);
        }

        @include xs {
            display: none;
        }
    }
}

.testi-3-thumb {
    max-width: 552px;
    border-radius: 24px;
    position: relative;

    img {
        border-radius: 24px;
    }

    .testi_3_left_img-shape {
        position: absolute;
        right: -2px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }

}


.testi-block-3 .testi-block-bottom {
    display: flex;
    gap: 5px;

    .box-title {
        font-weight: 400;
        margin: 0;
    }

    .box-desig {
        font-size: 21px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--theme-color);
        margin: 0;
    }
}


@include xl {
    .testi-block-3 {
        display: flex;
        gap: 50px;
        padding: 50px;
    }

    .testi-block-3 .right-content .box-text {
        font-size: 30px;
    }
}

@include md {
    .testi-block-3 {
        gap: 30px;
        padding: 30px;
    }

    .testi-block-3 .right-content .box-text {
        font-size: 23px;
    }
}

@include sm {
    .testi-block-3 {
        flex-direction: column;
        text-align: center;
    }

    .testi-block-3 .testi-block-bottom {
        justify-content: center;
    }

    .testi-block-3 .right-content .box-text {
        margin-bottom: 15px;
    }
}

@include vxs {
    .testi-block-3 {
        gap: 24px;
        padding: 20px;
    }

    .testi-block-3 .right-content .box-text {
        font-size: 18px;
    }
}

/* Testimonial Card  4 ---------------------------------- */
.testi-card-area-4 {
    max-width: 1840px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.testi-4-left-thumb {
    margin-left: -258px;
    margin-top: -4px;
    border-radius: 40px 0 0 40px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 40px 0 0 40px;
    }
}

.title-area.testi-4-title {
    padding-top: 78px;

    @include ml {
        padding-top: 60px;
    }
}


@media (min-width: 1300px) {
    .testi-4-wrapper {
        width: 1300px;
    }

}

.testi-block.style-4 {
    border-radius: 20px;

    .testi-block-top .box-img img {
        border-radius: 20px;
    }
}

.pagination-count-wrap.testi-4-style {
    .swiper-pagination-bullets {
        text-align: start;
        margin-left: 57px;
        left: -2px !important;
    }

    .slider-pagination2 {
        text-align: start;
    }
}


.test-4-slider-bottom {
    text-align: center;
    margin-left: 304px;
    margin-top: 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -19px;
        top: 3px;
        height: 1px;
        background: var(--th-border-color);
        width: 45%;
    }

    .slider-arrow {
        --icon-size: 36px;
        border: 1px solid var(--body-color);
        font-size: 16px;
        margin: 0 3px;

        &.default {
            top: -16px;
        }
    }
}

.testi-card {
    &-area {
        padding-top: $space;
        padding-bottom: $space;
        max-width: 720px;
        margin-left: auto;

        @include md {
            padding-top: $space-mobile;
            padding-bottom: $space-mobile;
        }
    }

    &-slide {
        position: relative;

        // .icon-box {
        //     position: absolute;
        //     bottom: 18px;
        //     right: 20px;

        //     .slider-arrow {
        //         --icon-size: 46px;
        //         border: none;
        //         background-color: $white-color;
        //         color: $theme-color;

        //         &:hover {
        //             background-color: $theme-color;
        //             color: $white-color;
        //         }
        //     }

        //     @include xs {
        //         display: none;
        //     }
        // }
    }

    position: relative;

    &_profile {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        gap: 20px;
    }

    &_avater {
        width: 80px;
        min-width: 80px;
        border-radius: 15px;

        img {
            border-radius: inherit;
        }
    }

    &_name {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 8px;

        @include vxs {
            font-size: 24px;
        }
    }

    &_desig {
        margin-bottom: 0;
        display: block;
        color: $theme-color;
    }

    &_text {
        font-size: 24px;
        font-weight: 500;
        margin: -0.5em 0 25px 0;
        font-style: italic;

        @include sm {
            font-size: 22px;
        }

        @include xs {
            font-size: 20px;
        }
    }
}

.testi-shape1 {
    height: 100%;

    img {
        height: 100%;
        width: max-content;
        object-position: center right;

        @media (max-width: 1750px) {
            margin-left: -25%;
        }

        @include xl {
            margin-left: -45%;
        }

        @include lg {
            margin-left: -65%;
        }
    }

    @include md {
        display: none;
    }
}

@include lg {
    .testi-4-left-thumb {
        margin: 0;
        border-radius: 0;
    }

    .testi-4-left-thumb img {
        border-radius: 20px;
    }

    .title-area.testi-4-title {
        padding-top: 10px;
    }

    .testi-card-area-4 {
        padding: 100px 0 80px;
    }
}

@include md {
    .test-4-slider-bottom::before {
        display: none;
    }
}


/* Testimonial Box ---------------------------------- */
.testi-box {
    &-area {
        display: flex;
        background-color: $smoke-color2;
        border-radius: 30px;
        overflow: hidden;
        background-size: auto;
        background-position: bottom right;
    }

    &-img {
        flex: 370px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-shape {
        flex: 60px;
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
        z-index: 3;

        img {
            height: 100%;
        }
    }

    &-slide {
        flex: 806px;
        width: 100%;
        max-width: 806px;
        padding: 50px;
        position: relative;

        @include lg {
            max-width: 620px;
        }
    }

    &_name {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    &_desig {
        font-weight: 500;
        display: block;
        color: $theme-color;
        margin-bottom: 35px;
    }

    &_text {
        font-size: 20px;
        font-weight: 500;
        margin-top: -0.5em;
        margin-bottom: 48px;
        font-style: italic;

        @include lg {
            font-size: 18px;
        }
    }

    &_quote {
        position: absolute;
        bottom: 50px;
        right: 60px;
        z-index: 2;
    }
}

@include md {
    .testi-box {
        &-area {
            flex-wrap: wrap;
        }

        &-img {
            width: 100%;
            flex: 100%;

            img {
                max-height: 400px;
            }
        }

        &-shape {
            display: none;
        }

        &-slide {
            flex: 100%;
            max-width: 100%;
        }
    }
}

@include sm {
    .testi-box {
        &_quote {
            display: none;
        }
    }
}

@include xs {
    .testi-box {
        &-area {
            border-radius: 20px;
        }

        &-slide {
            padding: 40px 20px;
        }

        &_name {
            font-size: 24px;
        }

        &_text {
            margin-bottom: 25px;
            font-size: 16px;
        }

        &_desig {
            margin-bottom: 25px;
        }
    }
}

/* Testimonial Grid ---------------------------------- */
.testi-grid {
    &-area {
        text-align: center;
        --pos-x: 80px;

        @include ml {
            .slider-arrow {
                --pos-x: 50px;
            }
        }

        @include xl {
            .slider-arrow {
                display: block;
                --pos-x: 40px;
            }
        }

        @include lg {
            .slider-arrow {
                display: none;
            }
        }
    }

    &-thumb {
        max-width: 250px;
        margin-bottom: 20px;

        .box-img {
            width: 100%;
            border: 4px solid $white-color;
            border-radius: 50%;
            overflow: hidden;
            transition: 0.4s ease-in-out;
            cursor: pointer;
        }

        .swiper-slide-thumb-active {
            opacity: 1;

            .box-img {
                border-color: $theme-color;
            }
        }

        // .swiper-slide-prev {
        //     margin-right: -30px;
        // }
        // .swiper-slide-next {
        //     margin-left: -30px;
        // }
    }

    text-align: center;

    &_title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 16px;

        @include sm {
            font-size: 24px;
        }
    }

    &_text {
        font-size: 18px;
        line-height: 28px;
        font-family: $title-font;
        max-width: 750px;
        margin: 0 auto 20px auto;

        @include sm {
            font-size: 16px;
        }

        span {
            color: $theme-color;
        }
    }

    &_name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &_desig {
        font-weight: 400;
        color: $body-color;
    }

    &_review {
        font-size: 14px;
        color: $theme-color;
        margin-bottom: -0.4em;

        i {
            margin: 0 2px;
        }
    }
}