/* Why 1 ---------------------------------- */
.why-1-bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .title-area .sec-title {
        margin-bottom: 15px;
    }
}

.why-1-bottom-box {
    border: 1px solid #303030;
    padding: 26px;

    .box-title {
        font-size: 20px;
        margin: 0;
    }
}

.why-choose-1-right {
    position: relative;
    z-index: 3;
    margin-right: -331px;
    margin-left: -40px;

    .video-box1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

        .play-btn {
            i {
                --icon-size: 160px;
                font-size: 30px;
                background: transparent;
                border: 3px solid var(--white-color);
                &::before {
                    background-color: transparent;
                }
            }

            &::before {
                background: transparent;
            }

            &::after {
                background: transparent;
            }
        }
    }
}

.why-choose-1-content-wrap {
    .title-area .sec-title {
        margin-bottom: 15px;
    }
}

@media  (max-width: 1600px) {
    .why-choose-1-right {
        margin-right: -150px;
    }
}
@include lg {
    .why-choose-1-right {
        margin-right: 0px;
        margin-left: 0;
    }
}
@include md {
    .why-choose-1-right .video-box1 .play-btn i {
        --icon-size: 100px;
        font-size: 25px;
    }
}
@include xs {
    .why-1-bottom-wrapper {
        grid-template-columns:  1fr;
    }
}
/* Why 2 ---------------------------------- */
.why-sec-2 {
    z-index: 3;
    position: relative;
  }
.why-card-2 {
    position: relative;
    border-radius: 20px;
    padding: 0px 35px 35px 35px;
    padding-bottom: 26px;
    transition: .4s;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--white-color);
    margin-top: 50px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: var(--theme-color);
        transition: all 0.4s ease;
        z-index: -1;
        border-radius:20px;
    }

    &:hover {
        transform: translateY(-3px);
        .box-icon {
            background: var(--theme-color);

            img {
                filter: brightness(0) invert(1);
                transform: rotateY(180deg);

            }
        }
    }
    .box-icon {
        height: 80px;
        width: 80px;
        line-height: 80px;
        background: var(--white-color);
        text-align: center;
        border-radius: 50%;
        margin-bottom: 28px;
        transition: .4s;
        outline: 10px solid var(--smoke-color);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -50px;

        img {
            transition: all 0.4s ease;
        }
    }

    .box-content {
        margin-top: 80px;
        padding-top: 75px;
        .box-title {
            margin-bottom: 15px;
            font-weight: 400;
        }

        .box-text {
            margin-bottom: 15px;
        }

    }
}

@include xs {
    .why-card-2 {
        padding: 0px 15px 15px 15px;
        margin-top: 40px;
    }
}